<!-- forgot-password.hbs -->
<p>Hi,</p>
<p>Please click the link below to reset your password:</p>
<a href='{{resetURL}}'>Reset Password</a>
<p>If you didn't request this, you can safely ignore this email.</p>
